@media (hover: none){
    #video_gallery .boxes .box .textbox {
        opacity: 1 !important;
    }
    .boxes .box img {
        position: absolute;
        left: -30%;
        height: 100%;
    }
}

@media only screen and (max-width: 2000px){
    .text-box h2{
        font-size: 200px;
    }
}

@media only screen and (max-width: 1800px){
    .text-box h2{
        font-size: 180px;
    }
    .background_video {
        height: 900PX;
    }
    .background_video video{
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .boxes {
        height: 1500px;
    }
}

@media only screen and (max-width: 1650px){
    .text-box h2{
        font-size: 160px;
    }
    .text-box h2 span{
        font-size: 200px;
    }
    .boxes {
        height: 1400px;
    }
}

@media only screen and (max-width: 1450px){
    .text-box {
        height: 900px;
    }

    .text-box h2{
        font-size: 130px;
    }
    .text-box h2 span{
        font-size: 170px;
    }

    .background_video {
        height: 900PX;
    }
    .background_video video{
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .boxes .box .textbox h2{
        font-size: 70px;
    }
    .boxes .box .textbox h3{
        font-size: 35px;
    }
    .boxes .box .textbox h4{
        font-size: 25px;
    }
    .boxes {
        height: 1250px;
    }
}


@media only screen and (max-width: 1150px){
    .text-box h2{
        font-size: 110px;
    }
    .text-box h2 span{
        font-size: 150px;
    }
    .boxes .first .textbox h2{
        font-size: 45px !important;
    }
    .boxes .box .textbox h2{
        font-size: 55px;
    }


    .boxes .box .textbox h3{
        font-size: 30px;
    }
    .boxes .box .textbox h4{
        font-size: 20px;
    }
    .boxes {
        height: 1000px;
    }
}

@media only screen and (max-width: 900px){
    .text-box h2{
        font-size: 90px;
    }
    .text-box h2 span{
        font-size: 130px;
    }
    .text-box {
        height: 100%;
    }

    .background_video {
        height: 700PX;
        filter: blur(5px) !important; 
    }
    .background_video video{
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .boxes {
        height: 800px;
    }
}


@media only screen and (max-width: 800px){
    .text-box h2{
        font-size: 70px;}
    .text-box h2 span{
        font-size: 110px;
    }
    .text-box {
        height: 100%;}
    .background_video {
        height: 400PX;
        filter: blur(3px) !important; }
    .background_video video{
        width: auto;
        height: 100%;
        object-fit: cover;}
    .photos img {
        margin: 1%;
        width: 48%;
        border-radius: 5px;}
    .boxes .box {
        width: 48%;}


    .boxes .first .textbox h2{
        font-size: 55px !important;
    }
    .boxes .box .textbox h2{
        font-size: 65px;
    }
    .boxes .box .textbox h3{
        font-size: 40px;
    }
    .boxes .box .textbox h4{
        font-size: 30px;
    }

    .boxes {
        height: 2000px;
    }

    footer .textbox h2{
        font-size: 25px;
    }

    footer .textbox h3{
        font-size: 10px;
    }

}

@media only screen and (max-width: 700px){
    .boxes {
        height: 1700px;
    }
    footer .textbox h2{
        font-size: 20px;
    }

    footer .textbox h3{
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px){
    nav{
        padding: 0px 25px;
    }

    .hideOnMobile {
        display: none;
    }
    .text-box h2{
        font-size: 45px;
    }
    .text-box h2 span{
        font-size: 60px;
    }

    .boxes .first .textbox h2{
        font-size: 40px !important;
    }
    .boxes .box .textbox h2{
        font-size: 40px;
    }
    .boxes .box .textbox h3{
        font-size: 30px;
    }
    .boxes .box .textbox h4{
        font-size: 20px;
    }
    .boxes {
        height: 1450px;
    }

    footer .textbox .email{
        width: 100%;
        margin-left: 0%;
        border-bottom: 0px solid;
        margin-bottom: 10%;
    }
    footer .textbox .number{
        width: 100%;
        margin-right: 0%;
    }

    footer .textbox h2{
        font-size: 30px;
    }

    footer .textbox h3{
        font-size: 15px;
    }

    #socials{
        width: 70%;
    }
}

@media only screen and (max-width: 500px){
    .boxes {
        height: 1200px;
    }

}

@media only screen and (max-width: 400px){
    .text-box h2{
        font-size: 40px;
    }
    .text-box h2 span{
        font-size: 60px;
    }
    .boxes .first .textbox h2{
        font-size: 35px !important;
    }
    .boxes .box .textbox h2{
        font-size: 40px;
    }
    .boxes .box .textbox h3{
        font-size: 20px;
    }
    .boxes .box .textbox h4{
        font-size: 15px;
    }
    .boxes {
        height: 1000px;
    }
    footer .textbox h2{
        font-size: 25px;
    }

    footer .textbox h3{
        font-size: 15px;
    }
    #socials{
        width: 80%;
    }
}

@media(min-aspect-ratio: 16/9 ){
    .background_video{
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        filter: blur(10px);
        opacity: .8;
        object-fit: cover;


    }
    .background_video video{
        width: 100vw;
    }
}

@media(max-aspect-ratio: 16/9 ){
    .background_video{
        height: 90vh;
        filter: blur(10px);
        opacity: .8;
        object-fit: cover;
    }

    .background_video video {
        width: 100vw;
    }
}    